@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold.eot');
    src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold.woff2') format('woff2'),
         url('OpenSans-Bold.woff') format('woff'),
         url('OpenSans-Bold.ttf') format('truetype'),
         url('OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.eot');
    src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular.woff2') format('woff2'),
         url('OpenSans-Regular.woff') format('woff'),
         url('OpenSans-Regular.ttf') format('truetype'),
         url('OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

@media (max-width: 640px) {

  html {
    font-size: 62.5%;
  }
}

body {
  margin: 0;

  font-family: 'Open Sans', Arial, sans-serif;
}

.wrap {
  min-width: 320px;
  max-width: 1920px;

  background: #ffffff;
}

@media (min-width: 1921px) {
  .wrap {
    margin: 0 auto;
  }
}

.top {
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #0a0e34;
  background-size: cover;
}

@media (max-width: 640px) {

  .top {
    background-image: url("../images/top-320-web.jpg");
  }
}

@media (min-width: 641px) and (max-width: 960px) {

  .top {
    background-image: url("../images/top-768-web.jpg");
  }
}

@media (min-width: 961px) {

  .top {
    background-image: url("../images/top-desktop-web.jpg");
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 89%;
  margin: 0 auto;
  padding-bottom: 70px;

  justify-content: center;
}

@media (max-width: 640px) {

  .top .container {
    padding-top: 34px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {

  .top .container {
    padding-top: 40px;
  }
}

@media (min-width: 961px) {

  .top .container {
    max-width: 1560px;
    padding-top: 46px;
  }

  .top-logo {
    width: 100%;

    text-align: center;
  }
}

.surface-logo-text {
  fill: #ffffff;
}

@media (max-width: 640px) {

  .surface-logo-text {
    width: calc(16.07vw + 82px);
  }
}

@media (min-width: 641px) and (max-width: 960px) {

  .surface-logo-text {
    width: 205px;
  }
}

@media (min-width: 961px) {

  .surface-logo-text {
    width: 191px;
  }
}

.top-header {
  margin-top: 100px;
}

@media (max-width: 640px) {

  .top-header {
    margin-bottom: 60px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {

  .top-header {
    margin-bottom: 246px;
    margin-left: 42px;
  }
}

@media (min-width: 961px) {

  .top-header {
    width: 100%;
    margin-left: 15px;
    margin-top: 183px;
    margin-bottom: 156px;
  }
}

.top .container .top-caption {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media (max-width: 640px) {

  .top .container .top-caption {
    font-size: calc(11.215vw - 7.89px);
  }

  .top .container .top-caption:nth-child(1) {
    margin-bottom: 16px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {

  .top .container .top-caption {
    font-size: calc(4.72vw + 27.7px);
  }
}

@media (min-width: 961px)  {

  .top .container .top-caption {
    font-size: calc(1.77vw + 55.96px);
    letter-spacing: 4.5px;
  }
}

@media (min-width: 1921px) {

  .top .container .top-caption {
    font-size: 90px;
  }
}

@media (min-width: 641px) {

  .top .container .top-caption:nth-child(1) {
    margin-bottom: 0;
  }
}

.top .container .top-caption:nth-child(2) {
  line-height: 1.2;
  margin-top: 0;
  margin-left: 14vmin;
}

@media (min-width: 961px) {

  .top .container .top-caption:nth-child(2) {
    text-align: end;
  }
}

@media (min-width: 1267px) {

  .top .container .top-caption:nth-child(2) {
    line-height: 0.69;
  }
}

.surface-logo-text-stroke {
  stroke: #ffffff;
}

.top-button {
  width: 100%;
}

@media (min-width: 641px) {

  .top-button {
    display: flex;

    justify-content: center;
  }
}

.top-button .link-button span {
  display: block;

  font-weight: bold;
}

.top-button .link-button {
  display: flex;
  width: 100%;
  margin-bottom: 15px;

  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
  letter-spacing: 0.4px;

  color: #ffffff;
  background-color: #5f3eb3;
  border-radius: 16px;
}

@media (max-width: 640px) {

  .top-button .link-button {
    font-size: 8px;
  }
}

@media (min-width: 641px) {

  .top-button .link-button {
    width: 310px;
    margin-bottom: 21px;

    font-size: 14px;

    border-radius: 35px;
  }

  @media (min-width: 961px) {

    .top-button .link-button {
      margin-bottom: 38px;
    }
  }

  .top-button .link-button:first-child {
    margin-right: 30px;
  }
}

@media (min-width: 961px) {

  .top-button .link-button:first-child {
    margin-right: 50px;
  }
}

.top-button .link-button:hover {
  box-shadow: 0 0 20px rgb(158, 158, 158) inset;
  transition: 0.4s linear;
}

.description {
  position: relative;
}

@media (max-width: 640px) {

  .description {
    width: 45%;
    padding: 6px 0 6px 35px;
  }
}

@media (min-width: 641px) {

  .description {
    padding: 19px 0 19px 35px;
  }
}

.content {
  margin: 0;
}

.top-button .link-button .logo {
  position: absolute;

  fill: #ffffff;
}

@media (max-width: 640px) {

  .top-button .link-button .logo {
    top: 4px;
    left: 5px;

    width: 24px;
  }
}

@media (min-width: 641px) {

  .top-button .link-button .logo {
    top: 15px;
    left: -29px;

    width: 42px;
  }
}

@media (min-width: 961px) {

  .top-button .link-button .logo {
    top: 10px;

    width: 48px;
  }
}




/* Раздел Athlets */

.athlets,
.players,
.interaction {
  position: relative;

  width: 100%;
  padding-bottom: 0;
}

.wrapper {
  margin: 0 auto;
}

@media (max-width: 640px) {

  .wrapper {
    width: 88%;
  }
}

@media (min-width: 641px) {

  .wrapper {
    width: 58%;
  }

  .athlets .wrapper {
    margin-right: 4%;
  }
}

@media (min-width: 961px) {

  .wrapper {
    width: 38%;
  }

  .athlets .wrapper {
    margin-right: 9%;
  }
}

.athlets-header,
.players-header {
  color: #e7e7e7;
  text-transform: uppercase;
}

@media (max-width: 640px) {

  .athlets-header,
  .players-header {
    margin-top: 8px;
    margin-bottom: 230px;

    font-size: 50px;
  }
}

@media (min-width: 641px) {

  .athlets-header,
  .players-header {
    margin-top: 58px;
    margin-bottom: 0;

    font-size: 80px;
  }
}

@media (min-width: 961px) {

  .athlets-header,
  .players-header {
    margin-top: 88px;
  }
}

.view {
  position: absolute;

  z-index: 1;
}

@media (max-width: 640px) {

  .athlets .view {
    top: 8%;
    left: 22%;
  }
}

@media (min-width: 641px) and (max-width: 960px) {

  .athlets .view {
    top: 12%;
    left: 0;
  }
}

@media (min-width: 961px) {

  .athlets .view {
    top: 0;
    left: calc(54vw - 714px);
  }
}

@media (min-width: 1921px) {

  .athlets .view {
    left: 252px;
  }
}

.athlets-list,
.players-list,
.interaction-list {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.athlets-list,
.players-list {
  counter-reset: li;
}

@media (min-width: 961px) {

  .athlets-list,
  .players-list {
    width: 100%;
  }
}

.list-item {
  position: relative;

  display: flex;

  list-style-position: inside;
}

@media (max-width: 640px) {

  .list-item:first-child {
    background-color: #fafafa;
  }
}

@media (min-width: 641px) {

  .list-item:first-child {
    background-color: #ffffff;
  }
}

.list-item:nth-child(2) {
  background-color: #f5f4f9;
}

.list-item:last-child {
  background-color: #5e42b0;
}

.list-item:last-child .athlets-content,
.list-item:last-child .players-content {
  color: #ffffff;
}

.list-item:before {
  position: absolute;

  display: inline-block;

  font-size: 14px;
  font-weight: bold;

  color: #000000;
  border-bottom: 4px solid #5e42b0;

  counter-increment: li;
  content: '0' counter(li);
}

@media (max-width: 640px) {

  .list-item:before {
    top: 57px;
    left: 6.5%;
  }

  .list-item:first-child:before {
    top: 78px;
  }
}

@media (min-width: 641px) {

  .athlets .list-item:before {
    top: 36px;
    left: 38%;

    font-size: 18px;
  }
}

@media (min-width: 961px) {

  .athlets .list-item:before {
    left: 53%;
  }

  .athlets .list-item:first-child:before {
    top: 70px;
  }

  .athlets .list-item:nth-child(2):before {
    top: 61px;
  }

  .athlets .list-item:last-child:before {
    top: 87px;
  }
}

.list-item:last-child:before {
  border-bottom: 4px solid #ffffff;
}

@media (max-width: 640px) {

  .list-item .wrapper {
    padding-top: 33px;
  }

  .list-item:first-child .wrapper {
    padding-top: 55px;
    padding-bottom: 35px;
  }

  .list-item:nth-child(2) .wrapper {
    padding-bottom: 37px;
  }

  .list-item:last-child .wrapper {
    padding-bottom: 19px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {

  .list-item:first-child .wrapper {
    padding-top: 13px;
    padding-bottom: 25px;
  }

  .athlets .list-item:nth-child(2) .wrapper {
    padding-top: 14px;
    padding-bottom: 18px;
  }

  .athlets .list-item:last-child .wrapper {
    padding-top: 16px;
    padding-bottom: 42px;
  }
}

@media (min-width: 961px) {

  .list-item:first-child .wrapper {
    padding-top: 44px;
    padding-bottom: 37px;
  }

  .list-item:nth-child(2) .wrapper {
    padding-top: 35px;
    padding-bottom: 40px;
  }

  .list-item:last-child .wrapper {
    padding-top: 61px;
    padding-bottom: 82px;
  }
}

.item-header {
  margin: 16px 0;
  padding-left: 25px;

  text-transform: uppercase;
  letter-spacing: 1.5px;

  color: #c1c1c1;
}

@media (max-width: 640px) {

  .item-header {
    font-size: 28px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {

  .item-header {
    margin-bottom: 15px;
    padding-left: 30px;

    font-size: 32px;
  }
}

@media (min-width: 961px) {

  .item-header {
    margin-bottom: 15px;
    padding-left: 30px;

    font-size: 36px;
  }
}

.athlets-content,
.players-content {
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0.8px;

  color: #000000;
}

@media (max-width: 640px) {

  .athlets-content,
  .players-content {
    font-size: 15px;
    line-height: 1.2;
  }
}

@media (min-width: 641px) and (max-width: 960px) {

  .athlets-content,
  .players-content {
    font-size: 16px;
    line-height: 1.75;
  }
}

@media (min-width: 961px) {

  .athlets-content,
  .players-content {
    font-size: 20px;
    margin-top: 16px;
  }
}



/* Раздел Players */

.players-list {
  width: 100%;
}

.players .list-item:last-child {
  background-color: #090c35;
}

.players .list-item:last-child:before {
  color: #9173e6;
}


@media (max-width: 640px) {

  .players .view {
    top: 9.5%;
    left: 1%;
  }

  .players .list-item:last-child .wrapper {
    padding-top: 29px;
    padding-bottom: 39px;
  }

  .players .list-item:last-child:before {
    top: 53px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {

  .players .wrapper {
    margin-left: 4%;
  }

  .players .view {
    top: 8%;
    right: 0;
  }

  .players .list-item:first-child .wrapper {
    padding-top: 10px;
    padding-bottom: 25px;
  }

  .players .list-item:nth-child(2) .wrapper {
    padding-top: 37px;
    padding-bottom: 52px;
  }

  .players .list-item:last-child .wrapper {
    padding-top: 27px;
    padding-bottom: 60px;
  }

  .players .item-header {
    padding-left: 32px;
  }

  .players .list-item:before {
    top: 34px;
    left: 4.5%;

    font-size: 18px;
  }

  .players .list-item:nth-child(2):before {
    top: 59px;
  }

  .players .list-item:last-child:before {
    top: 50px;
  }
}

@media (min-width: 1921px) {

  .players .view {
    right: 110px;
  }
}

@media (min-width: 961px) {

  .players {
    overflow: hidden;
  }

  .players .view {
    top: 0;
    right: calc(47.8vw - 808px);
  }

  .players .view:before {
    position: absolute;
    top: 10%;
    left: 29.5%;

    font-size: 31px;
    font-weight: bold;
    text-shadow: 20px 17px 0 rgba(145, 115, 230, 0.5), 477px 267px 0 rgba(145, 115, 230, 1);

    color: rgb(145, 115, 230);

    content: '+';
  }

  .players .wrapper {
    margin-left: 17%;
  }

  .players .list-item:before {
    left: 17%;

    font-size: 18px;
  }

  .players .list-item:first-child:before {
    top: 67px;
  }

  .players .list-item:nth-child(2):before {
    top: 60px;
  }

  .players .list-item:last-child:before {
    top: 93px;
  }

  .players .list-item:first-child .wrapper {
    padding-top: 40px;
    padding-bottom: 49px;
  }

  .players .list-item:nth-child(2) .wrapper {
    padding-top: 35px;
    padding-bottom: 51px;
  }

  .players .list-item:last-child .wrapper {
    padding-top: 69px;
    padding-bottom: 70px;
  }

  .players .list-item:nth-child(2) .item-header {
    margin-bottom: 23px;
  }
}
/*Конец раздела Players */




/* Раздел interaction */

.interaction .list-item {
  flex-wrap: wrap;

  background-color: #ffffff;
}

.interaction-list .list-item:before {
  color: #ffffff;
  border-bottom: 4px solid #8f7bc8;

  z-index: 1;
}

.interaction .wrapper:nth-child(4) .list-item:before {
  content: "02";
}

.interaction .wrapper:last-child .list-item:before {
  content: "03";
}

.interaction-view:first-child:after,
.interaction-view:nth-child(3):after,
.interaction-view:nth-child(5):after {
  position: absolute;

  background-color: #5e42b0;

  content: '';
  z-index: 1;
}

.interaction-view {
  position: relative;

  width: 100%;
  height: calc(52vw + 185px);

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f26163;
  background-size: cover;
}

.interaction .wrapper {
  position: relative;
  padding-top: 0px;
}

.interaction-header {
  margin-bottom: 0;

  text-transform: uppercase;
  letter-spacing: 1.5px;

  color: #e7e7e7;
}

.interaction-content {
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.3;
}

@media (max-width: 640px) {

  .interaction-view:first-child {
    background-image: url("../images/be-active-320.jpg");
  }

  .interaction-view:nth-of-type(3) {
    background-image: url("../images/find-contact-320.jpg");
  }

  .interaction-view:nth-of-type(5) {
    background-image: url("../images/work-it-320.jpg");
  }

  .interaction-view:first-child:after,
  .interaction-view:nth-child(3):after,
  .interaction-view:nth-child(5):after {
    left: 18px;
    bottom: -12px;

    width: 70px;
    height: 70px;
  }

  .interaction .wrapper .list-item:before {
    top: -23%;
    left: calc(-6vw + 46px);
  }

  .interaction .wrapper {
    padding-bottom: 61px;
  }

  .interaction-header {
    font-size: 28px;
  }


  .interaction .wrapper:nth-child(6) {
    padding-bottom: 51px;
  }

  .interaction-header {
    margin-top: 24px;
  }

  .interaction .wrapper:nth-child(2) .interaction-content {
    margin-top: 13px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {

  .interaction .wrapper .list-item:before {
    top: -24%;
    left: calc(-3.2vw + 71px);

    font-size: 24px;
  }

  .interaction-view:first-child:after,
  .interaction-view:nth-child(3):after,
  .interaction-view:nth-child(5):after {
    /* top: -30%; */
    left: 33px;
    bottom: -32px;

    width: 116px;
    height: 116px;
  }

  .interaction .wrapper {
    width: 100%;
    margin: 0 4%;
  }

  .interaction-view:first-child {
    background-image: url("../images/be-active-768.jpg");
  }

  .interaction-view:nth-child(3) {
    background-image: url("../images/find-contact-768.jpg");
  }

  .interaction-view:nth-of-type(5) {
    background-image: url("../images/work-it-768.jpg");
  }

  .interaction .wrapper:nth-child(2) {
    padding-bottom: 72px;
  }

  .interaction .wrapper:nth-child(4) {
    padding-bottom: 80px;
  }

  .interaction .wrapper:last-child {
    padding-bottom: 84px;
  }

  .interaction .wrapper:nth-child(2) .interaction-header {
    margin-top: 62px;
  }

  .interaction .wrapper .interaction-content {
    margin-top: 8px;
  }

  .interaction .wrapper:nth-child(4) .interaction-header,
  .interaction .wrapper:last-child .interaction-header  {
    margin-top: 51px;
  }

}

@media (min-width: 641px) {

  .interaction-header {
    font-size: calc(4vw + 4px);
    letter-spacing: normal;
  }

  .interaction-content {
    font-size: 24px;
  }
}

@media (min-width: 961px) {

  .interaction-view {
    position: relative;

    width: 50%;
    height: calc(15vw + 442px);
  }

  .interaction-view:nth-child(3):before {
    position: absolute;
    left: calc(-2.5vw - 32px);

    background-color: #5e42b0;

    content: '';
  }

  .interaction .wrapper:nth-child(2),
  .interaction .wrapper:last-child {
    margin: 0;
    width: 50%;
    padding-left: 132px;
    padding-right: 9%;
  }

  .interaction .list-item {
    position: static;
  }

  .interaction .wrapper .list-item:before {
    top: 35%;
    font-size: 24px;
  }

  .interaction .wrapper:nth-child(2) .list-item:before,
  .interaction .wrapper:last-child .list-item:before {
    left: -15px;
  }

  .interaction .wrapper:nth-child(4) .list-item:before {
    top: 35%;
    right: -19%;
  }

  .interaction-view:first-child:after,
  .interaction-view:nth-child(3):before,
  .interaction-view:nth-child(5):after {
    top: 28%;

    width: calc(5vw + 64px);
    height: calc(4vw + 77px);
  }

  .interaction-view:first-child:after,
  .interaction-view:nth-child(5):after {
    right: calc(-2.5vw - 32px);
  }

  .interaction .wrapper {
    width: 37%;
    padding-top: 128px;
  }

  .interaction .wrapper:nth-child(2) .interaction-content,
  .interaction .wrapper:last-child .interaction-content {
    padding-right: 25%;
  }

  .interaction .wrapper:nth-child(4) .interaction-content {
    padding-right: 20%;
  }

  .interaction .wrapper:nth-child(4) {
    padding-left: 3%;

    order: 1;
  }

  .interaction .wrapper:last-child {
    order: 4;
  }

  .interaction-view:first-child {
    background-image: url("../images/be-active-desktop.jpg");
  }

  .interaction-view:nth-child(3) {
    background-image: url("../images/find-contact-desktop.jpg");

    order: 2;
  }

  .interaction-view:nth-of-type(5) {
    background-image: url("../images/work-it-desktop.jpg");

    order: 3
  }

  .interaction .wrapper:nth-child(2) .interaction-header,
  .interaction .wrapper:last-child .interaction-header {
    padding-bottom: 60px;
  }

  .interaction .wrapper:nth-child(4) .interaction-header {
    padding-bottom: 20px;
  }
}
/*Конец раздела interaction */

/* Footer */
.footer {
  color: #ffffff;
  background-repeat: no-repeat;
  background-color: #0a0e34;
  background-size: cover;
}

.footer-top {
  display: inline-block;
  padding: 11px;

  border-radius: 23%;

  background: linear-gradient(to top, #6d4ec9, #52389d);
  background:-webkit-linear-gradient(top, #6d4ec9, #52389d);
  background:-o-linear-gradient(top, #6d4ec9, #52389d);
  background:-moz-linear-gradient(top, #6d4ec9, #52389d);
}

.surface-logo-stroke {
  stroke: #ffffff;
}

.footer-caption {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.footer-content {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.7px;

  color: #9b8ec1;
}

@media (max-width: 640px) {

  .footer {
    background-image: url("../images/footer-320.jpg");
  }

  .footer-top {
    width: 72px;
  }

  .footer-header {
    width: 100%;

    text-align: center;
  }

  .footer .container {
    padding-top: 100px;
    padding-bottom: 0;
  }

  .footer-caption {
    margin-top: 50px;
    margin-bottom: 0;

    font-size: 32px;
  }

  .footer-content {
    margin-top: 0;

    font-size: 14px;
  }

  .footer-header {
    margin-bottom: 59px;
  }

  .footer-bottom {
    margin-top: 72px;
  }
}

@media (min-width: 641px) {

  .footer-top {
    width: 129px;
  }

  .footer-caption {
    margin-bottom: 0;

    font-size: 80px;
    letter-spacing: 3.4px;
  }

}

@media (min-width: 641px) and (max-width: 960px) {

  .footer {
    background-image: url("../images/footer-768.jpg");
  }

  .footer .container {
    width: 100%;
    padding-top: 124px;
    padding-bottom: 14px;
  }

  .footer-header {
    width: 100%;
    margin-bottom: 30.5%;

    text-align: center;
  }

  .footer-caption {
    margin-top: 54px;
  }

  .footer-content {
    margin-top: 0;

    font-size: 36px;
    letter-spacing: normal;
  }

  .footer-bottom {
    margin-top: 36px;
  }
}

@media (min-width: 961px) {

  .footer {
    background-image: url("../images/footer-desktop.jpg");
  }

  .footer .container {
    padding-top: 156px;
    padding-bottom: 49px;
  }

  .footer-top {
    align-self: center;
  }

  .footer-header {
    margin-left: 36px;
  }


  .footer-content {
    margin-top: 0;

    font-size: 30px;
    text-align: left;
  }

  .footer .top-button {
    margin-top: 7%;
    margin-bottom: 13%;
  }
}

/* Конец Footer */
