@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold.eot');
    src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold.woff2') format('woff2'),
         url('OpenSans-Bold.woff') format('woff'),
         url('OpenSans-Bold.ttf') format('truetype'),
         url('OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.eot');
    src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular.woff2') format('woff2'),
         url('OpenSans-Regular.woff') format('woff'),
         url('OpenSans-Regular.ttf') format('truetype'),
         url('OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

@media (max-width: 640px) {
  html {
    font-size: 62.5%;
  }
}

body {
  margin: 0;

  font-family: 'Open Sans', Arial, sans-serif;
}

.wrap {
  min-width: 320px;
  max-width: 1920px;
  /* margin: 0 auto; */

  background: #ffffff;
}

.top {
  /* text-align: center; */
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #000000;
  background-size: cover;
}

@media (max-width: 640px) {
  .top {
    background-image: url("../images/top-320-web.jpg");
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .top {
    background-image: url("../images/top-768-web.jpg");
  }
}

.top .container {
  display: flex;
  flex-wrap: wrap;
  width: 89%;
  height: 81vh;
  margin: 0 auto;
  padding: 3px 0 39px 0; /*?*/

  justify-content: center;
  align-content: space-around;
}

.top-logo {
  width: 133px;
}

.surface-logo-text {
  /* width: 132px; */

  fill: #ffffff;
}

.top .container .top-caption {
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.top .container .top-caption:nth-child(1) {
  /* margin-top: 69px; */
  margin: 64px 0 14px 0;
}

.top .container .top-caption:nth-child(2) {
  margin: 0 0 24px 46px;
  line-height: 1.2;
  /* margin-left: 46px; */
}

/* .top-caption span {
  display: block;
  margin-left: 42px;
} */

.surface-logo-text-stroke {
  stroke: #ffffff;
}

.top-button {
  display:  flex;
  flex-wrap:  wrap;
  width: 100%;
}

.top-button .link-button span {
  display: block;

  font-weight: bold;
}

.top-button .link-button {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  /* height: 25%; */
  background-color: #5f3eb3;
  border-radius: 16px;
  justify-content: center;
  font-size:  0.8rem;
  margin-bottom: 15px;
  letter-spacing: 0.4px;
}

.top-button .link-button:hover {
  box-shadow: 0 0 20px rgb(158, 158, 158) inset;
}

.description {
  position: relative;
  padding: 6px 0 6px 35px;
  width: 45%;
}

.content {
  margin: 0;
  /* padding-left: 38px; */
}

.top-button .link-button .logo {
  position: absolute;
  top: 4px;
  left: 5px;

  width: 24px;

  fill: #ffffff;
}
