@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold.eot');
    src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold.woff2') format('woff2'),
         url('OpenSans-Bold.woff') format('woff'),
         url('OpenSans-Bold.ttf') format('truetype'),
         url('OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.eot');
    src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular.woff2') format('woff2'),
         url('OpenSans-Regular.woff') format('woff'),
         url('OpenSans-Regular.ttf') format('truetype'),
         url('OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

@media (max-width: 640px) {
  html {
    font-size: 62.5%;
    /* font-size: 4.375px; */
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  html {
    /* font-size: 62.5%; */
    font-size: 100%;
  }
}

@media (min-width: 961px) and (max-width: 1920px) {
  html {
    /* font-size: 14.0625px; */
    font-size: 100%;
  }
}

body {
  margin: 0;

  font-family: 'Open Sans', Arial, sans-serif;
}

.wrap {
  min-width: 320px;
  max-width: 1920px;

  background: #ffffff;
}

@media (min-width: 1921px) {
  .wrap {
    margin: 0 auto;
  }
}

.top {
  /* text-align: center; */
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #000000;
  background-size: cover;
}

@media (max-width: 640px) {
  .top {
    background-image: url("../images/top-320-web.jpg");
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .top {
    background-image: url("../images/top-768-web.jpg");
  }
}

@media (min-width: 961px) {
  .top {
    background-image: url("../images/top-desktop-web.jpg");
  }
}

.top .container {
  display: flex;
  flex-wrap: wrap;
  width: 89%;
  margin: 0 auto;
  /* padding: 34px 0 70px 0; */
  padding-bottom: 70px;

  justify-content: center;
  /* align-content: space-around; */
}

@media (max-width: 640px) {
  .top .container {
    /* padding: 34px 0 70px 0; */
    padding-top: 34px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .top .container {
    padding-top: 40px;
  }
}

@media (min-width: 961px) {
  .top .container {
    max-width: 1560px;
    padding-top: 46px;
  }
  .top-logo {
    width: 100%;
    text-align: center;
  }
}


.surface-logo-text {
  /* width: 132px; */

  fill: #ffffff;
}

@media (max-width: 640px) {
  .surface-logo-text {
    width: calc(16.07vw + 82px);
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .surface-logo-text {
    width: 205px;
  }
}

@media (min-width: 961px) {
  .surface-logo-text {
    width: 191px;
  }
}


.top-header {
  margin-top: 100px;
}

@media (max-width: 640px) {
  .top-header {
    margin-bottom: 60px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .top-header {
    margin-bottom: 246px;
    margin-left: 42px;
  }
}

@media (min-width: 961px) {
  .top-header {
    width: 100%;
    margin-left: 15px;
    margin-top: 183px;
    margin-bottom: 156px;
  }
}

.top .container .top-caption {
  /* font-size: 6.4rem; */
  /* font-size: 8.39vw; */
  /* font-size: calc(8.035vw + 2.288px); */
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media (max-width: 640px) {
  .top .container .top-caption {
    /* font-size: 28px; */
    font-size: calc(11.215vw - 7.89px);
  }

  .top .container .top-caption:nth-child(1) {
    /* margin-top: 69px; */
    /* margin: 64px 0 14px 0; */
    margin-bottom: 16px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .top .container .top-caption {
    /* font-size: 64px; */
    /* font-size: calc(10vw - 6.1px);
    font-size: calc(11.215vw - 7.89px); */
    font-size: calc(4.72vw + 27.7px);
  }
}

@media (min-width: 961px) {
  .top .container .top-caption {
    font-size: 90px;
    letter-spacing: 4.5px;
  }
}

/* @media (max-width: 640px) {
  .top .container .top-caption:nth-child(1) {
    margin-bottom: 16px;
  }
} */

@media (min-width: 641px) {
  .top .container .top-caption:nth-child(1) {
    margin-bottom: 0;
  }
}

.top .container .top-caption:nth-child(2) {
  /* margin: 0 0 24px 46px; */
  line-height: 1.2;
  margin-top: 0;
  margin-left: 14vmin;
}

@media (min-width: 961px) {
  .top .container .top-caption:nth-child(2) {
    text-align: end;
    line-height: 0.69; /*67px*/
  }
}

/* .top-caption span {
  display: block;
  margin-left: 42px;
} */

.surface-logo-text-stroke {
  stroke: #ffffff;
}

.top-button {
  /* display:  flex;
  flex-wrap:  wrap; */
  width: 100%;
}

@media (min-width: 641px) {
  .top-button {
    display: flex;
    justify-content: center;
  }
}

.top-button .link-button span {
  display: block;

  font-weight: bold;
}

.top-button .link-button {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  /* height: 25%; */
  background-color: #5f3eb3;
  border-radius: 16px;
  justify-content: center;
  /* font-size:  0.8rem; */
  margin-bottom: 15px;
  letter-spacing: 0.4px;
}

@media (max-width: 640px) {
  .top-button .link-button {
    font-size: 8px;
  }
}

@media (min-width: 641px) {
  .top-button .link-button {
    width: 310px;
    font-size: 14px;
    border-radius: 35px;
    margin-bottom: 21px;
  }

  @media (min-width: 961px) {
    .top-button .link-button {
      margin-bottom: 38px;
    }
  }

  .top-button .link-button:first-child {
    margin-right: 30px;
  }
}

@media (min-width: 961px) {
  .top-button .link-button:first-child {
    margin-right: 50px;
  }
}

.top-button .link-button:hover {
  box-shadow: 0 0 20px rgb(158, 158, 158) inset;
}

.description {
  position: relative;
}

@media (max-width: 640px) {
  .description {
    padding: 6px 0 6px 35px;
    width: 45%;
  }
}

@media (min-width: 641px) {
  .description {
    padding: 19px 0 19px 35px;
  }
}

.content {
  margin: 0;
  /* padding-left: 38px; */
}

.top-button .link-button .logo {
  position: absolute;


  fill: #ffffff;
}

@media (max-width: 640px) {
  .top-button .link-button .logo {
    top: 4px;
    left: 5px;

    width: 24px;
  }
}

@media (min-width: 641px) {
  .top-button .link-button .logo {
    top: 15px;
    left: -21px;
    width: 42px;
  }
}

@media (min-width: 961px) {
  .top-button .link-button .logo {
    top: 10px;
    left: -29px;
    width: 48px;
  }
}
